    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Detalle del Pedido</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Proveedor</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ladrillos</td>
                                <td>Felucia Sanchez</td>
                                <td>50</td>
                                <td>S/.5000</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
              </div>
              <!-- /.card -->
  
  
    
        
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>