  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Crear Pedido</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-body row">
          <div class="col-5 text-center d-flex align-items-center justify-content-center">
            <div class="">
              <h2>Crear Pedido</h2>
              <p class="lead mb-5"> Llenar todos los campos del formulario
              </p>
            </div>
          </div>
          <div class="col-7">
            <div class="form-group">
              <label for="inputName">Nombre del Proveedor</label>
              <input type="text" id="inputName" class="form-control" />
            </div>
            <div class="form-group">
              <label for="inputName">Productos:</label>
              <input type="email" id="inputEmail" class="form-control" />
            </div>
            <div class="form-group">
              <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td> Ladrillos</td>
                        <td>2 millares</td>
                        <td> S/.1690</td>
                    </tr>
                  </tbody>
                  <a class="btn btn-outline-primary mat-button-toggle ">Añadir Producto</a>
              </table>

            </div>

            
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Crear Pedido">
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
