<div class="card">
    <div class="card-header">
      <h3 class="card-title"><i class="fas fa-cart-arrow-down"></i>&nbsp;&nbsp; Ventas Realizadas</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

      <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                    <th>#</th>
                    <th>Código</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Vendedor</th>
                    <th>Total</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>5</td>
                        <a routerLink="/detalles-ventas"><td>
                            ASRNJ05
                        </td></a>
                    <td>26/07/21</td>
                    <td>Pedro Picapiedra</td>
                    <td>Alma Benites</td>
                    <td>S/180.00</td>
            </tr>

            <tr>
                <td>4</td>
                        <a href="#"><td>
                            ASRNJ04
                        </td></a>
                    <td>25/07/21</td>
                    <td>Pablo Marmol</td>
                    <td>Alma Benites</td>
                    <td>S/1000.00</td>
            </tr>

            <tr>
                <td>3</td>
                <a href="#"><td>
                    ASRNJ03
                </td></a>
                    <td>24/07/21</td>
                    <td>Rikardo Mendoza</td>
                    <td>Armando Zapata</td>
                    <td>S/980.00</td>
            </tr>

            <tr>
                <td>2</td>
                <a href="#"><td>
                    ASRNJ02
                </td></a>
                    <td>23/07/21</td>
                    <td>Abraham Canez</td>
                    <td>Alma Benites</td>
                    <td>S/1200.00</td>
            </tr>

            <tr>
                <td>1</td>
                    <a href="#"><td>
                        ASRNJ01
                     </td></a>
                    <td>22/07/21</td>
                    <td>Oscar Cañellas</td>
                    <td>Armando Zapata</td>
                    <td>S/580.00</td>
            </tr>
                 
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        </tbody>
        
      </table>
     
    </div>
    <!-- /.card-body -->
  </div>
