<div class="card">
    <div class="card-header">
      <h3 class="card-title"><i class="fas fa-info"></i> &nbsp;  Detalles Venta #ASRNJ01</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

      <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                    <th>#</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>5</td>
                        <td>
                            Ladrillos
                        </td>
                    <td>1 millar</td>
                    <td>S/840.00</td>
                 
            </tr>

            <tr>
                <td>4</td>
                        <td>
                            Clavo para drywall
                        </td>
                    <td>25/07/21</td>
                    <td>S/10.80</td>
               
            </tr>

            <tr>
                <td>3</td>
                        <td>
                            Pistola para drywall
                        </td>
                    <td>Ladrillos</td>
                    <td>S/479.00</td>
                
            </tr>

            <tr>
                <td>2</td>
                        <td>
                            Tarugo de madera
                        </td>
                    <td>23/07/21</td>
                    <td>S/2.90</td>
                   
            </tr>

            <tr>
                
                        
                    <td>TOTAL</td>
                    <td></td>
                    <td></td>
                    <td>S/1332.70</td>
                  
            </tr>
                 
       

        </tbody>
        
      </table>
     
    </div>
    <!-- /.card-body -->
  </div>